In [1]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB,BernoulliNB,MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
data = pd.read_csv("mail_data.csv",encoding='latin-1')
print(data.shape)
data

(5572, 2)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham              Will Ã¼ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [3]:
data.Message[2]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [4]:
x1=data.Message
y=data.Category

In [5]:
vectorizer=TfidfVectorizer()
x=vectorizer.fit_transform(x1)
feature_names=vectorizer.get_feature_names()

In [6]:
len(feature_names)

8745

In [7]:
feature_names[2000:2010]

['cheer',
 'cheered',
 'cheers',
 'cheery',
 'cheese',
 'cheesy',
 'cheetos',
 'chef',
 'chennai',
 'cheque']

In [8]:
x=x.toarray()

In [9]:
x.shape

(5572, 8745)

In [10]:
y.shape

(5572,)

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10)

In [12]:
from sklearn.naive_bayes import GaussianNB,BernoulliNB,MultinomialNB
model=BernoulliNB(alpha=.75)
model.fit(x_train,y_train)
y_predict=model.predict(x_test)
from sklearn.metrics import classification_report
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9772727272727273

col_0      ham  spam
Category
ham       1447    10
spam        28   187

In [13]:
# newemail=pd.Series(['trrty'])
# newemail_transformed=vectorizer.transform(newemail)
# man=model.predict(newemail_transformed)

In [16]:
#Import the required Libraries
from tkinter import *
from tkinter import ttk

#Create an instance of Tkinter frame
win= Tk()
win.title('Spam Email Detection')

#Set the geometry of Tkinter frame
win.geometry("1250x150")

def display_text():
    global entry
    string= entry.get()
    newemail=pd.Series([string])
    newemail_transformed=vectorizer.transform(newemail)
    man=model.predict(newemail_transformed)
    
    
    label.configure(text=man)

#Initialize a Label to display the User Input
label=Label(win, text="", font=("Courier 14 bold"))
label.pack()

#Create an Entry widget to accept User Input
entry= Entry(win, width= 200)
entry.focus_set()
entry.pack()

#Create a Button to validate Entry Widget
ttk.Button(win, text= "Check The Received Email",width= 50, command= display_text).pack(pady=40)

win.mainloop()